body {
	font-size: 16px;
	columns: white;
	background-color: grey;
	font-family: 'Oxygen', sans-serif;
}

/*HEADER*/

#header-nav {
	background-color: yellow;
	border-radius: 0px;
	border: 0px;
}

.navbar-brand {
	height: auto;
}

h1 {
	margin-left: 50px;
	margin-bottom: 20px;
}

a {
	text-decoration: none !important;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

.navbar-default .container-fluid {
	position: relative;
}

.navbar-default .navbar-toggle {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

#nav-list {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;

}
#nav-list a {
  color: grey;
   text-align: center;
}

#nav-list a:hover {
  background: green;
  color: white;
  text-decoration: none;
}

#collapsable-nav {
	background-color: yellow;
}

nav {
	margin-bottom: 0px !important;
}

li {
	border: 1px solid black;
}

item-b {
	border: 0px !important;
}